@charset "UTF-8";
/* CSS Document */
/*カートのトップを作成*/
#cartMain{
	display:table;
	margin: 20px auto;
}
/*カート左*/
#cartLeft{
	width:auto;
	display:inline-block;
	float:left;
}
/*カートの中身*/
.cartItem{
	width:600px;
	position:relative;
}
#inCartItems {
	width:600px;
	display:inline-block;
}
#cartTop{
	height:40px;
	background-color:#A3A0A0;
}
#cartTop h1{
	line-height:40px;
	margin-left:20px;
	color:#fff;
}
#inCartItems li{
	list-style: none;
	border: 1px solid #B2B2B2;
}
#inCartItems li:first-child{
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
}
#inCartItems li:last-child{
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
}
.cartItem img{
	width: 150px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.cartItemInner{
	margin:10px;
	width:380px;
	display:inline-block;
}
.cartItem .itemTitle{
	width:280px;
	float:left;
	margin-bottom:5px;
	font-weight:bold;
}
.cartItem .cartItemValue{
	text-align:right;
	display:inline-block;
	width:100px;
	clear:left;
}
.cartItemInfo{
	font-size:12px;
	display:inline-block;
	line-height:18px;
}
.cartItemInfo span{
	display: list-item;
	list-style:none;
}
/*商品操作ボタン*/
.cartItemOption{
	display:inline-block;
	
}
.cartItemOption a{
	display:block;
	float:left;
	padding:15px 50px;
	text-align:center;
	background-color:rgba(167,167,167,1.00);
}
.cartItemOption a:nth-child(2n){
	margin-left:10px;
}
/*カート右*/
#cartRight{
	width:300px;
	display:inline-block;
	margin-left:20px;
}
#summaryCol{
	color:#fff;
}
#summaryCol div{
	background-color:#111;
	height:60px;
	position:relative;
	border-top: #333 1px solid;
}
#summaryCol div:first-child{
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
#summaryCol div:last-child{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
#summaryCol div p{
	position:absolute;
	bottom:5px;
	right:5px;
}
#summaryCol div h2,#summaryCol div h3{
	position:absolute;
	left:15px;
	top:10px;
}
.summaryButtons{
}
.summaryButtons a{
	position:absolute;
	width:200px;
	height:30px;
	line-height:30px;
	text-align:center;
	display:block;
	padding:2px;
	background-color:rgba(255,121,0,1.00);
	top:10px;
	left:50px;
}